.is-active {
  width: 100vw;
}

.modal-card {
  width: 80vw;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.modal-card {
  margin: 0px;
}

.pre-auth-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .pre-auth-div {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

.MMR-main-container {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 60vw;
  margin: 20px 0px;
}

.upload-form {
  width: 80vw;
  margin-top: 10px;
}

.mmr-page-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete {
  position: absolute;
  right: 15px;
  top: 15px;
}

.edit {
  border: none;
  display: inline-block;
  position: absolute;
  right: 3px;
  bottom: 2px;
}
